In [3]:
num = 12
name = "Manish's Laptop"

print(num,name)
print(num)
print(name)

12 Manish's Laptop
12
Manish's Laptop

In [4]:
nickname = 'Manish'
age = 37
print('My name is ',nickname,' and my age is ',age)

My name is  Manish  and my age is  37

In [7]:
print('My name is {} and my age is {}'.format(nickname,age))

My name is Manish and my age is 37

In [8]:
print('My name is {a} and my age is {b}'.format(b=age,a=nickname))

My name is Manish and my age is 37

In [9]:
string = 'hello'

In [10]:
print(string[0])

h

In [11]:
print(string[1])

e

In [12]:
print(string[2])

l

In [13]:
# int, float, str

In [14]:
print(3/2)

1.5

In [15]:
type(string)

str

In [16]:
type(3/2)

float

In [17]:
type(2)

int

In [18]:
a = '2'

In [19]:
type(a)

str

In [20]:
print(a+2)

TypeError: can only concatenate str (not "int") to str

In [23]:
print(a+'5')

25

In [22]:
print('Manish'+'Yadav')

ManishYadav

In [25]:
print('Manish'*'2')

TypeError: can't multiply sequence by non-int of type 'str'

In [26]:
print('Manish'*2)

ManishManish

In [29]:
type(int(a))

int

In [30]:
type(a)

str

In [31]:
a = int(a)

In [32]:
type(a)

int

In [37]:
x = """Hello,
How are you"""
print(x)

Hello,
How are you

In [38]:
x = "Hello, World!"
print(len(x))

13

In [48]:
y = " Hello, World! "
print(len(y))

15

In [51]:
y = y.lstrip()
#y = y.rstrip()
#y = y.strip()

In [52]:
print(len(y))

13

In [55]:
a1 = 'HELlo'
print(a1.lower())

hello

In [56]:
print(a1.upper())

HELLO

In [60]:
a2 = 'hello how are you'
print(a2.capitalize())

Hello how are you

In [61]:
print(a2.title())

Hello How Are You

In [63]:
x1 = 'hello b2$b2b2 c3c3 how'
print(x1.title())

Hello B2$B2B2 C3C3 How